* {
    padding: 0;
    margin: 0;

}

body {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.container {
    /* max-width: 1050px;  */
    margin: 18px auto;
    padding: 8px 12px;
}

.title {
    text-align: center;
    font-size: 28px;
    margin: 6px 0 20px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    margin: 18px 0 10px;
}


.nav-vertical {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-vertical a {
    display: block;
    padding: 12px 16px;
    background: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    border: 4px solid rgba(255, 255, 255, 0.12);
}


.nav-inline a {
    display: inline;
    margin-right: 8px;
    padding: 6px 10px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}


.nav-inline-block a {
    display: inline-block;
    margin-right: 12px;
    padding: 10px 14px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}


.nav-float a {
    float: left;
    margin-right: 14px;
    padding: 10px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}

.nav-pill--green a {
    background: #2ecc71;
}

.nav-pill--purple a {
    background: #8e44ad;
}

.nav-pill--orange a {
    background: #e67e22;
}